{%extends 'base.html'%}


{%block title%}
    Home Page
{%endblock%}


{%block body%}
    <h3>Welcome to Home Page</h3>
    <br>
    <hr>
    <br>
    <h2>BOOKS LIST</h2>
    <table class="table table-bordered table-dark table-hover mt-5">
        <thead>
        <tr>
            <th>s no.</th>
            <th>Book Name</th>
            <th>Book ID</th>
            <th>Author</th>
            <th>Available copies</th>
            <th>Actions</th>
        </tr>
        </thead>




    </table>
{%endblock%}